html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #f4f1ec;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #545149;
}

.container {
  height: 200px;
  width: 90%;
  margin: 0 auto;
}