nav {
  position: sticky;
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #4056A1;
  color: white;
}

nav span {
  font-family: 'Bungee', sans-serif;
  font-size: 1.5em;
  margin: 1.5em;
}