.new-tweet h2 {
  margin-bottom: 10px;
}

form textarea {
  width: 100%;
  background-color: #f4f1ec;
  resize: none;
  border: none;
  border-bottom: 3px solid #545149;
  outline: none;
  font-weight: 700;
  color: #545149;
  opacity: 0.5;
}

form footer {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
  font-family: bungee, sans-serif;
  color: #545149;
}

form button {
  background-color: #4056A1;
  color: white;
}

.limit-alert {
  color: red;
}

.error-message {
  margin: 0;
  margin-bottom: 10px;
  color: red;
  border: 2px dashed red;
  text-align: center;
}