#new-tweet {
  margin-bottom: 5vh;
}

#new-tweet h2 {
  font-size: 1.5rem;
  margin: 0;
}

form textarea {
  width: 100%;
  background-color: #f4f1ec;
  resize: none;
  border: none;
  border-bottom: 3px solid #545149;
  outline: none;
  font-weight: 700;
  color: #545149;
}

form textarea::placeholder { 
  opacity: 0.5;
}

form footer {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
  font-family: bungee, sans-serif;
  color: #545149;
}

form button {
  background-color: #4056A1;
  color: white;
  outline: none;
}

.limit-alert {
  color: red;
}

.error-message {
  margin: 0;
  margin-bottom: 10px;
  color: red;
  border: 2px dashed red;
  text-align: center;
}


@media screen and (min-width: 500px) {
  #new-tweet h2 {
    font-size: inherit;
  }
}