.tweet {
  margin-bottom: 25px;
  border: solid 2px black;
  padding: 15px;
}

.tweet:hover {
  box-shadow: 3px 3px 0 3px black;
}

.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet header img {
  margin-right: 10px;
}

.tweet header div {
  display: flex;
  align-items: center;
}

.tweet main {
  font-size: 1.5em;
  border-bottom: solid 2px black;
}

.tweet footer {
  display: flex;
  justify-content: space-between;
}

